		.beam{
			width: 1600px;
			height: 20px;
			background: #fff;
			top: 290px;
			left: -400px;
		}
		body{
			margin: 0;
			padding: 0;
		}
		div{
			position: absolute;
		}
		.bg{
			width: 800px;
			height: 600px;
			background: #f2f2f2;
			overflow: hidden;
		}